@media(min-width:1200px) {
    .footer-top .row {
        justify-content: space-between;
    }

    .footer-widget:first-child {
        max-width: 350px;
    }
}

@media(max-width:768px) {
    .footer-widget {
        padding-right: 0;
        text-align: center;
    }

    .footer-widget:first-child {
        max-width: 100%;
    }

    .footer-title::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-contact li {
        justify-content: center;
    }
    .login-wrapper{padding: 70px 0;}
}